/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

.wrapper {
  background: #f3f3f3;
  position: relative; }
  .wrapper .container {
    max-width: 1230px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 40px 15px 40px; }
    .wrapper .container a {
      display: inline-block;
      cursor: pointer; }
  .wrapper:after {
    background: inherit;
    content: '';
    display: block;
    height: 200px;
    bottom: -200px;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(5deg);
    transform-origin: 100%; }

footer {
  background: #00113d; }

.news {
  text-align: center;
  color: #1a1a1a; }
  .news .upper_text {
    text-transform: uppercase;
    letter-spacing: 0.57px; }
  .news h2 {
    font-size: 46px;
    font-weight: 300;
    line-height: 56px;
    color: #1a1a1a;
    margin: 25px 0 65px; }
  .news .news_items {
    display: flex; }
    .news .news_items .item {
      text-align: left;
      padding: 0 15px;
      z-index: 2; }
      .news .news_items .item div {
        max-width: 370px;
        overflow: hidden;
        height: 200px;
        position: relative; }
        .news .news_items .item div:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(5, 70, 125, 0.53);
          z-index: 1;
          opacity: 0; }
        .news .news_items .item div:hover:after {
          opacity: 1; }
        .news .news_items .item div img {
          width: 100%;
          height: 100%; }
      .news .news_items .item p {
        color: #262626;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px; }
      .news .news_items .item .p_grey {
        margin: 42px 0 18px;
        font-size: 14px;
        color: #999999;
        font-weight: 400;
        line-height: 46px;
        text-transform: uppercase; }
      .news .news_items .item a.p_grey {
        font-weight: 500;
        letter-spacing: 0.07px;
        line-height: 24px; }
        .news .news_items .item a.p_grey:hover {
          color: #06b4cf; }

.advance {
  background: url(../images/advance-bg.png) center center no-repeat;
  padding: 20px 0; }
  .advance .item {
    padding: 0 16%;
    text-align: center; }
    .advance .item .h2 {
      color: #1a1a1a;
      font-size: 46px;
      font-weight: 300;
      line-height: 56px;
      margin-bottom: 50px; }
    .advance .item p {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0.1px; }

.highly {
  padding-top: 70px; }
  .highly .h2 {
    color: #1a1a1a;
    font-size: 47px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 30px;
    text-align: center; }
  .highly .highly_box {
    display: flex;
    margin-left: -15px;
    margin-right: -15px; }
    .highly .highly_box .highly_block {
      width: 50%;
      padding-left: 15px;
      padding-right: 15px; }
      .highly .highly_box .highly_block p {
        padding-top: 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px; }
      .highly .highly_box .highly_block a {
        color: #06b4cf;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        display: inline-block;
        border: solid 1px #06b4cf;
        border-radius: 15px;
        text-align: center;
        margin-top: 20px;
        padding: 20px; }
  .highly .title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px; }
  .highly .highly_block_images {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 50px;
    margin-bottom: 10px; }
    .highly .highly_block_images .highly_image_items {
      width: 25%;
      padding-left: 15px;
      padding-right: 15px; }
      .highly .highly_block_images .highly_image_items p {
        font-size: 16px;
        font-weight: 300;
        padding: 10px 20px 0 0; }

* {
  box-sizing: border-box;
  margin: 0; }

#first_section {
  height: 1200px;
  width: 100%;
  background-image: url(../images/3-layers.jpg);
  background-position: -165px;
  background-repeat: no-repeat; }
  #first_section h1 {
    color: white;
    line-height: 0,08em;
    font-size: 60px;
    margin: auto;
    padding-top: 140px;
    width: 100%;
    height: 222px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase; }

#block_size {
  width: 1920px;
  margin: auto; }

@media all and (max-width: 1940px) {
  #block_size {
    width: 1500px; } }
@media all and (max-width: 1550px) {
  #block_size {
    width: 1200px; } }
@media all and (max-width: 1225px) {
  #block_size {
    width: 970px; } }
@media all and (max-width: 992px) {
  #block_size {
    width: 750px; } }
@media all and (max-width: 768px) {
  #block_size {
    width: 90%; } }
@media all and (max-width: 1940px) {
  #first_section h1 {
    font-size: 50px; } }
@media all and (max-width: 1550px) {
  #first_section h1 {
    font-size: 50px; } }
@media all and (max-width: 992px) {
  #first_section h1 {
    font-size: 45px; } }
@media all and (max-width: 992px) {
  #first_section h1 {
    font-size: 35px; } }
@media all and (max-width: 460px) {
  #first_section h1 {
    font-size: 26px; } }
#first_section_sizes {
  width: 61%;
  height: 1200px;
  margin-left: 375px;
  margin: auto; }

@media all and (max-width: 1550px) {
  #first_section_sizes {
    width: 95%; } }
#preorder_now {
  position: relative;
  width: 211px;
  height: 57px;
  background-color: white;
  margin-top: 172px;
  box-shadow: 4px 5px 9px 1px rgba(24, 115, 173, 0.58);
  border-radius: 15px; }
  #preorder_now a {
    position: absolute;
    text-decoration: none;
    color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 0,028em;
    letter-spacing: 0,01em;
    text-transform: uppercase;
    white-space: nowrap; }
    #preorder_now a:hover {
      color: #06b4cf; }

@media all and (max-width: 295px) {
  top: 225px; }
hr {
  margin-top: 225px;
  border: 0.5px solid white;
  color: white; }

#advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  #advantages .our_advantages {
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    width: 31.6%;
    height: 523px; }
    #advantages .our_advantages:hover {
      box-shadow: 9px 12px 24px rgba(23, 3, 79, 0.1);
      border-radius: 3px;
      background-color: #ffffff; }
    #advantages .our_advantages:hover p {
      color: black; }
    #advantages .our_advantages:hover h3 {
      color: black; }
    #advantages .our_advantages:hover a {
      visibility: visible; }
    #advantages .our_advantages a {
      margin-top: 55px;
      visibility: hidden;
      letter-spacing: 0.005em;
      line-height: 0.024em;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      text-decoration: none;
      color: #19d9ef;
      text-transform: uppercase; }
    #advantages .our_advantages img {
      margin-top: 55px; }
    #advantages .our_advantages p {
      color: #fdfdfd;
      font-size: 16px;
      letter-spacing: 0.005em;
      line-height: 24px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400; }
    #advantages .our_advantages h3 {
      margin-top: 50px;
      margin-bottom: 25px;
      color: #fefefe;
      font-size: 24px;
      line-height: 26px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400; }

.arrow {
  visibility: hidden;
  margin-right: 10px; }

.our_advantages:hover .arrow {
  visibility: visible; }

#rossete {
  width: 57px;
  height: 76px; }

#watches {
  width: 73px;
  height: 73px; }

#medal {
  width: 63px;
  height: 75px; }

.advantage {
  margin-left: 42px; }

.mission .box {
  display: block;
  text-align: center; }
  .mission .box .mission-header {
    color: #262626;
    font-family: Roboto;
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 41px; }

.mission-button {
  margin-top: 29px;
  color: #06b4cf;
  font-family: Roboto;
  letter-spacing: 0.09px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  text-transform: uppercase; }

.mission-footer {
  color: #000000;
  word-wrap: break-word;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.12px;
  margin-bottom: 29px; }

/*# sourceMappingURL=style.css.map */
