.advance{
	background: url(../images/advance-bg.png) center center no-repeat;
	padding:20px 0;
		.item{
			padding:0 16%;
			text-align: center;
				.h2{
					color: #1a1a1a;
					font-size: 46px;
					font-weight: 300;
					line-height: 56px;
					margin-bottom:50px;
				}
				p{
					font-size: 20px;
					font-weight: 500;
					line-height: 28px;
					letter-spacing: 0.1px;
				}
		}
}

.highly{
		padding-top:70px;	
			.h2{
				color: #1a1a1a;
				font-size: 47px;
				font-weight: 300;
				line-height: 56px;
				margin-bottom:30px;
				text-align:center;
			}
		.highly_box{
			display:flex;
			margin-left:-15px;
			margin-right:-15px;
				.highly_block{
					width:50%;
					padding-left:15px;
					padding-right:15px;
					
					
						
						p{	padding-top:20px;
							font-size: 18px;
							font-weight: 300;
							line-height: 28px;
					
						}
						a{
							color: #06b4cf;
							font-family: Roboto;
							font-size: 16px;
							font-weight: 700;
							text-transform: uppercase;
							letter-spacing: 1.6px;
							display:inline-block;
							border:solid 1px #06b4cf;
							border-radius: 15px;
							text-align:center;
							margin-top:20px;
							padding:20px;
						}
				}
		}
		.title{
			font-size: 20px;
			font-weight: 500;
			margin-top:20px;
			
		}


.highly_block_images{
	display:flex;
	margin-left:-15px;
	margin-right:-15px;
	margin-top:50px;
	margin-bottom:10px;
		.highly_image_items{
			width:25%;
			padding-left:15px;
			padding-right:15px;
					p{
						font-size: 16px;
						font-weight: 300;
						padding:10px 20px 0 0;
					}
				
			}
		}
	}


